@media (max-width: 876px) {
  body,
  .legible {
    font-size: 15px;
  }

  .header-1,
  .legible .header-1,
  .legible h1 {
    font-size: 2.3rem;
  }

  .header-2,
  .legible .header-2,
  .legible h2 {
    font-size: 1.8rem;
  }

  .header-3,
  .legible .header-3,
  .legible h3 {
    font-size: 1.4rem;
  }

  .password-info-and-options {
    flex-direction: column;
  }

  .password-generator .options {
    margin-top: 0;
  }

  .password-generator {
    .password-field {
      font-size: 1.25rem;
    }

    .password-info {
      width: calc(100% - 2rem);
    }
  }

  .password-generator {
    .password-field {
      .button {
        display: none;
      }
    }

    .button--mobile {
      display: inline-block;
    }
  }

  footer {
    text-align: center;

    .image {
      padding-bottom: 1rem;
    }

    > * {
      align-items: center;
      flex-direction: column;
    }

    .footer-content {
      .legible {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  body,
  .legible {
    font-size: 14px;
  }

  .header-1,
  .legible .header-1,
  .legible h1 {
    font-size: 1.6rem;
  }

  .header-2,
  .legible .header-2,
  .legible h2 {
    font-size: 1.3rem;
  }

  .header-3,
  .legible .header-3,
  .legible h3 {
    font-size: 1.1rem;
  }

  .password-generator .options {
    grid-template-columns: 1fr;
  }

  .password-generator .buttons {
    flex-direction: column;
  }
}