footer {
  background: $color-footer;
  color: $color-white;
  margin-top: 3rem;
  padding: 3rem 0 0;

  > * {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  a {
    color: $color-footer-text;
    font-family: 'SourceCodePro';
    text-decoration-thickness: 1px;

    &:hover {
      color: $color-footer-text;
      opacity: 0.8;
    }
  }

  .image {
    border-radius: 50%;
    height: 200px;
    position: relative;
    width: 200px;

    img {
      border-radius: 50%;
    }
  }

  .footer-content {

    .legible {
      margin-left: 40px;
    }
  }

  .footer-legal {
    background: #111;
    margin-top: 3rem;
    padding: 1rem 0;
  }
}