.password-generator-section {
  padding: 0;
}

.password-generator-container {
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 75%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }

  &:before {
    @include box-shadow-inset;
    background-color: $color-password-generator-background;
    z-index: 1;
  }

  &:after {
    background-image: url('../images/circuit-board.svg');
    opacity: 0.1;
    z-index: 2;
  }
}

.password-info-and-options {
  display: flex;
  gap: 2rem;
}

.password-generator {
  @include box-shadow;
  background: $color-password-generator;
  background: $color-password-generator-gradient;
  border-radius: 20px;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 3;

  .password-field {
    align-items: center;
    background-color: $color-white;
    border-radius: 1rem;
    color: $color-black;
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    text-align: center;
    width: calc(100% - 1rem);

    .password {
      border: 0;
      border-radius: $border-radius;
      font-family: 'SourceCodePro';
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.2em;
      min-height: 30px;
      padding: 0.5rem 1rem;
      position: relative;
      text-align: left;
      width: 100%;
      word-break: break-all;
      z-index: 1;

      &:focus {
        outline: none;
      }

      &:hover {
        color: inherit
      }

      &.password-loading {
        opacity: 0.5;
      }
    }
  }

  .source {
    display: flex;
    font-size: 12px;
    margin-bottom: 1rem;
    text-transform: capitalize;

    > * {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    margin-top: 2rem;
  }
}

.password-info {
  align-items: center;
  background: $color-focus;
  border-radius: 10px;
  color: $color-white;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 2rem;
  min-height: 120px;
  padding: 1rem;
  position: relative;

  .password-info__content {
    border: 2px dashed white;
    border-radius: 10px;
    padding: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  ::-moz-selection,
  ::selection {
    background: $color-white;
    color: $color-focus;
  }
}

.strength-summary {
  strong {
    display: block;
    font-family: 'FugazOne';
    font-size: 1.3rem;
    margin-bottom: .5rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.raised {
  font-size: 0.6rem;
  margin-left: 1px;
  position: relative;
  top: -2px;
  vertical-align: top;
}

.breached {
  font-weight: bold;
}
